* {
  font-family: "Nunito", sans-serif;
}

.jumbotron {
  /* -webkit-text-stroke: 1px #5a3d76; */
  margin-bottom: 0px;
  height: 200px;
  color: white;
  background: rgb(224, 170, 255);
  background: linear-gradient(
    121deg,
    rgba(224, 170, 255, 1) 0%,
    rgba(16, 0, 43, 1) 92%
  );
}

.display-4 {
  font-size: 40pt;
  font-weight: bold;
}

.lead {
  font-size: 20pt;
  font-weight: bold;
}

.col-sm {
  height: 50px;
  display: grid;
  place-items: center;
}

.action-widget {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 5px;
  height: 100%;
  width: 80%;
  display: grid;
  place-items: center;
}

#blurb {
  background-color: rgba(90, 61, 119, 0.5);
}

#search-div {
  background-color: rgb(90, 61, 119);
}

#table-wrapper {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  /* padding-bottom: 20px; */
  height: calc(100vh - 240px);
  /* border: 2px dashed green; */
  overflow-y: auto;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 5px 5px 10px 0px #00000033;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
}

table tr th {
  font-size: 18pt;
}

table tr td {
  font-size: 14pt;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: white;
  background-color: #311c4d;
}

.navbar {
  background-color: #ccc !important;
  height: 40px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.navbar-brand {
  margin: auto;
}

a {
  color: #684884;
}

a:hover {
  color: #40285c;
}

.row {
  margin-bottom: 50px;
}
