* {
  font-family: "Averia Libre", cursive;
}

.jumbotron {
  margin-bottom: -32px;
  height: 270px;
  color: white;
  background: rgb(224, 170, 255);
  background: linear-gradient(
    121deg,
    rgba(224, 170, 255, 1) 0%,
    rgba(16, 0, 43, 1) 92%
  );
}

.display-4 {
  font-size: 55pt;
}

.lead {
  font-size: 30pt;
}

#blurb {
  /* border: 1px solid white; */
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(90, 61, 119, 0.5);
  position: absolute;
  top: 300px;
  left: 100px;
  color: white;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

#search-span {
  border: 1px solid white;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
  /* background-color: #1a0834; */
  position: absolute;
  top: 300px;
  right: 100px;
  color: white;
  background: rgb(224, 170, 255);
  background: linear-gradient(
    121deg,
    rgba(224, 170, 255, 1) 0%,
    rgba(16, 0, 43, 1) 92%
  );
}

#table-wrapper {
  /* border: 1px dashed lime; */
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 140px;
  padding-bottom: 50px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 5px 5px 10px 0px #00000033;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
}

table tr th {
  /* color: red; */
  font-size: 18pt;
}

table tr td {
  /* color: red; */
  font-size: 14pt;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  /* background-color: #333333; */
  color: white;
  background: rgb(16, 0, 43);
  background: radial-gradient(
    circle,
    rgba(16, 0, 43, 1) 2%,
    rgba(224, 170, 255, 1) 100%
  );
}

.navbar {
  background-color: #ccc !important;
  height: 40px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.navbar-brand {
  margin: auto;
  /* border: 2px solid red; */
}

a {
  color: #684884;
}

a:hover {
  color: #40285c;
}
